<div ng-show="main.user.isLoggedIn">
  <% if signed_in? %>
    <%= form_for current_user.tasks.new, url: api_v1_tasks_path, method: :post, html: { class: 'form-inline', 'ng-controller' => 'TaskFormCtrl as taskForm', 'ng-submit' => 'taskForm.submit($event)' } do |f| %>
      <div class="form-group">
        <%= f.label :description, 'Task' %>

        <%= f.text_field :description, placeholder: 'Description of your task', class: 'form-control', 'ng-model' => 'taskForm.input.description' %>
      </div>

      <div class="form-group">
        <%= f.label :date %>
        <%= f.date_field :date, class: 'form-control', 'ng-model' => 'taskForm.input.date' %>
      </div>

      <div class="form-group">
        <%= f.label :hour, 'Hours' %>

        <%= f.number_field :hour, class: 'form-control', 'ng-model' => 'taskForm.input.hour' %>
      </div>

      <div class="form-group">
        <%= f.submit 'Add a Task', class: 'btn btn-primary' %>
      </div>
    <% end %>
  <% end %>

  <table class="table" ng-controller="TasksCtrl as tasks">
    <thead>
      <tr>
        <th>Task</th>
        <th>
          <a href="#" ng-click="tasks.orderToggle()" ng-bind-html="tasks.dateText" id="date-toggle"></a>
        </th>
        <th>Hours</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="task in tasks.collection.all | orderBy: tasks.dateOrder">
        <td>{{ task.description }}</td>
        <td>{{ task.date }}</td>
        <td>{{ task.hour }}</td>
      </tr>
    </tbody>
  </table>
</div>
