<!DOCTYPE html>
<html lang="en" ng-app="projectApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= angularjs_include_tag :google %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <title>Project Sunki Baek</title>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Brand</a>
        </div>

        <div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <h2>Sign Up</h2>

      <form class="" method="post">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="First Last">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="test@example.com">
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <label for="password_confirm">Password Confirm</label>
        <input type="password" id="password_confirm" name="password_confirm">
        <input type="submit" value="Save">
      </form>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
