<!DOCTYPE html>
<html lang="en" ng-app="projectApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= angularjs_include_tag :google, modules: [:sanitize] %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <title>Project Sunki Baek</title>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-controller="MainCtrl as main">
    <div class="p-site-notification" ng-show="main.notification.message">
      <div class="alert alert-info" role="alert">
        {{ main.notification.message }}
      </div>
    </div>

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Time Management System</a>
        </div>

        <div>
          <ul class="nav navbar-nav navbar-right">
            <li ng-show="!main.user.isLoggedIn">
              <a href="#" ng-click="main.showSignUpForm = !main.showSignUpForm">Sign Up</a>
            </li>

            <li ng-show="!main.user.isLoggedIn">
              <a href="#" ng-click="main.showLogInForm = !main.showLogInForm">Log In</a>
            </li>

            <li ng-show="main.user.isLoggedIn" class="disabled">
              <a href="#"><i>Logged in as <b>{{ main.user.name }}</b></i></a>
            </li>

            <li ng-show="main.user.isLoggedIn">
              <a href="#" ng-controller="LogOutCtrl as logOut" ng-click="logOut.logOut()">Log Out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div ng-show="!main.user.isLoggedIn">
        <div ng-show="main.showSignUpForm">
          <h2>Sign Up</h2>

          <%= render partial: 'sign_up_form' %>
        </div>

        <div ng-show="main.showLogInForm">
          <h2>Log In</h2>

          <%= render partial: 'log_in_form' %>
        </div>
      </div>

      <div ng-show="!main.user.isLoggedIn">
        <div class="well text-center">
          Hi! Sign Up or Log In to add your tasks.
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
